@charset "UTF-8";
@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FivoSans"), url("../fonts/Fivosansregular.woff2") format("woff2"), url("../fonts/Fivosansregular.woff") format("woff");
}
@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FivoSans"), url("../fonts/Fivosansbold.woff2") format("woff2"), url("../fonts/Fivosansbold.woff") format("woff");
}
@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FivoSans"), url("../fonts/Fivosanslight.woff2") format("woff2"), url("../fonts/Fivosanslight.woff") format("woff");
}
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "FivoSans", sans-serif;
}

.background {
  background-image: url("../img/vector_smart_object_3694.png");
  max-width: 1920px;
  height: 1334px;
  background-size: contain;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
header .logo {
  font-size: 32px;
  color: #ff6c6e;
  font-weight: 700;
  margin-left: 10%;
}
header .nav {
  display: flex;
}
header .nav-list {
  list-style-type: none;
  padding-right: 67px;
}
header .nav-list:first-child {
  margin-left: 250px;
}
header .nav-list .nav-link {
  text-decoration: none;
  color: #1c2056;
  opacity: 0.5;
  font-size: 18px;
  transition: 0.3s;
}
header .nav-list .nav-link:hover {
  color: #ff6c6e;
  opacity: 1;
}
header .login-btn {
  font-size: 18px;
  width: 140px;
  height: 42px;
  background-color: #ff6c6e;
  border-radius: 30px;
  border: none;
  color: white;
  outline: none;
  margin-right: 10%;
  transition: 0.3s;
}
header .login-btn:hover {
  box-shadow: -5px 6px 49px 5px rgba(255, 0, 5, 0.18);
}

.beautiful-videos {
  margin-left: 17%;
  margin-top: 150px;
}
.beautiful-videos h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #3b3838;
}
.beautiful-videos p {
  opacity: 0.65;
  font-family: FivoSans;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 70px;
}
.beautiful-videos a {
  text-decoration: none;
  padding: 34px 87px;
  font-size: 20px;
  border: 2px solid #ff6a6d;
  border-radius: 60px;
  margin-right: 34px;
  color: #ff6c6e;
  transition: 0.3s;
}
.beautiful-videos a:hover {
  background-color: #ff6c6e;
  color: white;
  box-shadow: -14px 17px 24px 0px rgba(226, 88, 91, 0.44);
}

.option {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}
.option div {
  width: 25%;
  text-align: center;
}
.option div h3 {
  margin-top: 92px;
  margin-bottom: 32px;
  font-size: 24px;
  color: #3B3838;
}
.option div p {
  opacity: 0.65;
}

.why-chose {
  text-align: center;
}
.why-chose h1 {
  color: #3B3838;
}
.why-chose h4 {
  color: #3B3838;
}

.whats-on {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 300px;
  z-index: 1;
  position: relative;
}
.whats-on h3 {
  color: #3B3838;
  font-size: 50px;
}
.whats-on h5 {
  color: #3B3838;
  position: relative;
  font-size: 24px;
}
.whats-on h5 span {
  background-image: url("../img/ceklist_3864.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 31px;
  height: 24px;
  position: absolute;
  left: -50px;
  top: -2px;
}
.whats-on p {
  opacity: 0.65;
  font-size: 18px;
}
.whats-on .img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-images {
  position: relative;
}
.bg-images .flower {
  position: absolute;
  left: 0;
  top: 530px;
}
.bg-images .bubble {
  position: absolute;
  left: 0;
  top: 1450px;
}
.bg-images .three {
  position: absolute;
  right: 0;
  top: 1750px;
}

.healing-power {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.healing-power div h3 {
  font-size: 50px;
  color: #3b3838;
}
.healing-power div p {
  font-size: 18px;
  opacity: 0.65;
  width: 75%;
  margin: 0 auto;
  margin-top: 80px;
  line-height: 50px;
  margin-bottom: 80pxs;
}
.healing-power div a {
  text-decoration: none;
  color: #3CBEF1;
  font-size: 18px;
  margin-left: 12%;
  display: block;
  margin-top: 80px;
  font-style: italic;
}
.healing-power img {
  display: block;
}

.five-ways {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 300px;
}
.five-ways h2 {
  font-size: 50px;
  color: #3b3838;
  margin-left: 5%;
  margin-top: -50px;
  margin-bottom: 0;
}
.five-ways p {
  opacity: 0.65;
  font-size: 18px;
  margin-left: 20%;
  line-height: 30px;
  margin-top: 106px;
  margin-bottom: 0;
}
.five-ways img {
  display: block;
  height: 629px;
  width: 735px;
}
.five-ways a {
  text-decoration: none;
  color: #3CBEF1;
  font-size: 18px;
  margin-left: 20%;
  display: block;
  margin-top: 90px;
  font-style: italic;
}

.best-seller {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.best-seller .card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 33%;
  border-radius: 20px;
}
.best-seller .card h5 {
  font-size: 25px;
  color: #3B3838;
  position: relative;
  font-weight: 400;
  margin-left: 15%;
  margin-right: 15%;
  left: 20px;
}
.best-seller .card h5:before {
  content: "";
  background-image: url("../img/vector_smart_object8_3968.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  position: absolute;
  left: -60px;
  top: -8px;
}
.best-seller .card h4 {
  font-size: 206px;
  color: #3B3838;
  position: relative;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 44px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.best-seller .card h4:before {
  content: "$";
  position: absolute;
  font-size: 66px;
  left: -10px;
}
.best-seller .card h4:after {
  content: "/Mo";
  position: absolute;
  font-size: 41px;
  bottom: 45px;
}
.best-seller .card h6 {
  font-size: 25px;
  color: #3B3838;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
.best-seller .card button {
  display: block;
  margin: 0 auto;
  background-color: #8EC7FB;
  outline: none;
  border: none;
  color: white;
  font-size: 25px;
  padding: 34px;
  border-radius: 50px;
  margin-bottom: 55px;
}