$red:#ff6c6e;
$blue:#1c2056;
$asd:#000000;
@font-face {
    font-family: "FivoSans";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("FivoSans"), /* Если не получилось, загрузит woff2 */
    url("../fonts/Fivosansregular.woff2") format("woff2"), /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/Fivosansregular.woff") format("woff");
}

@font-face {
    font-family: "FivoSans";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("FivoSans"), /* Если не получилось, загрузит woff2 */
    url("../fonts/Fivosansbold.woff2") format("woff2"), /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/Fivosansbold.woff") format("woff");
}

@font-face {
    font-family: "FivoSans";
    font-style: normal;
    font-weight: 300;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("FivoSans"), /* Если не получилось, загрузит woff2 */
    url("../fonts/Fivosanslight.woff2") format("woff2"), /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/Fivosanslight.woff") format("woff");
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "FivoSans", sans-serif;
}

.background {
    background-image: url("../img/vector_smart_object_3694.png");
    max-width: 1920px;
    height: 1334px;
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    .logo {
        font-size: 32px;
        color: $red;
        font-weight: 700;
        margin-left: 10%;
    }
    .nav {
        display: flex;
        &-list {
            list-style-type: none;
            padding-right: 67px;
            &:first-child {
                margin-left: 250px;
            }
            .nav-link {
                text-decoration: none;
                color: $blue;
                opacity: 0.5;
                font-size: 18px;
                transition: 0.3s;
                &:hover {
                    color: $red;
                    opacity: 1;
                }
            }
        }
    }
    .login-btn {
        font-size: 18px;
        width: 140px;
        height: 42px;
        background-color: $red;
        border-radius: 30px;
        border: none;
        color: white;
        outline: none;
        margin-right: 10%;
        transition: 0.3s;
        &:hover {
            box-shadow: -5px 6px 49px 5px rgba(255, 0, 5, 0.18);
        }
    }
}

.beautiful-videos {
    margin-left: 17%;
    margin-top: 150px;
    h1 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        color: #3b3838;
    }
    p {
        opacity: 0.65;
        font-family: FivoSans;
        font-size: 18px;
        line-height: 40px;
        font-weight: 300;
        color: #000000;
        margin-bottom: 70px;
    }
    a {
        text-decoration: none;
        padding: 34px 87px;
        font-size: 20px;
        border: 2px solid #ff6a6d;
        border-radius: 60px;
        margin-right: 34px;
        color: $red;
        transition: 0.3s;
        &:hover {
            background-color: $red;
            color: white;
            box-shadow: -14px 17px 24px 0px rgba(226, 88, 91, 0.44);
        }
    }
}

.option {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    div {
        width: 25%;
        text-align: center;
        h3 {
            margin-top: 92px;
            margin-bottom: 32px;
            font-size: 24px;
            color: #3B3838;
        }
        p {
            opacity: 0.65;
        }
    }
}

.why-chose {
    text-align: center;
    h1 {
        color: #3B3838;
    }
    h4 {
        color: #3B3838;
    }
}

.whats-on {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 300px;
    z-index: 1;
    position: relative;
    h3 {
        color: #3B3838;
        font-size: 50px;
    }
    h5 {
        color: #3B3838;
        position: relative;
        font-size: 24px;
        span {
            background-image: url("../img/ceklist_3864.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 31px;
            height: 24px;
            position: absolute;
            left: -50px;
            top: -2px;
        }
    }
    p {
        opacity: 0.65;
        font-size: 18px;
    }
    .img {
        // animation: 10s tremor ease-out infinite;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.bg-images {
    position: relative;
    .flower {
        position: absolute;
        left: 0;
        top: 530px;
    }
    .bubble {
        position: absolute;
        left: 0;
        top: 1450px;
    }
    .three {
        position: absolute;
        right: 0;
        top: 1750px;
    }
}

.healing-power {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    div {
        h3 {
            font-size: 50px;
            color: #3b3838;
        }
        p {
            font-size: 18px;
            opacity: 0.65;
            width: 75%;
            margin: 0 auto;
            margin-top: 80px;
            line-height: 50px;
            margin-bottom: 80pxs;
        }
        a {
            text-decoration: none;
            color: #3CBEF1;
            font-size: 18px;
            margin-left: 12%;
            display: block;
            margin-top: 80px;
            font-style: italic;
        }
    }
    img {
        display: block;
    }
}

.five-ways {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 300px;
    h2 {
        font-size: 50px;
        color: #3b3838;
        margin-left: 5%;
        margin-top: -50px;
        margin-bottom: 0;
    }
    p {
        opacity: 0.65;
        font-size: 18px;
        margin-left: 20%;
        line-height: 30px;
        margin-top: 106px;
        margin-bottom: 0;
    }
    img {
        display: block;
        height: 629px;
        width: 735px;
    }
    a {
        text-decoration: none;
        color: #3CBEF1;
        font-size: 18px;
        margin-left: 20%;
        display: block;
        margin-top: 90px;
        font-style: italic;
    }
}

.best-seller {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        width: 33%;
        border-radius: 20px;
        h5 {
            font-size: 25px;
            color: #3B3838;
            position: relative;
            font-weight: 400;
            margin-left: 15%;
            margin-right: 15%;
            left: 20px;
            &:before {
                content: '';
                background-image: url("../img/vector_smart_object8_3968.png");
                background-repeat: no-repeat;
                background-position: center;
                width: 38px;
                height: 38px;
                position: absolute;
                left: -60px;
                top: -8px;
            }
        }
        h4 {
            font-size: 206px;
            color: #3B3838;
            position: relative;
            font-weight: 400;
            margin-top: 100px;
            margin-bottom: 44px;
            margin-left: 15%;
            margin-right: 15%;
            text-align: center;
            &:before {
                content: '$';
                position: absolute;
                font-size: 66px;
                left: -10px;
            }
            &:after {
                content: '/Mo';
                position: absolute;
                font-size: 41px;
                bottom: 45px;
            }
        }
        h6 {
            font-size: 25px;
            color: #3B3838;
            font-weight: 400;
            text-align: center;
            font-style: italic;
        }
        button {
            display: block;
            margin: 0 auto;
            background-color: #8EC7FB;
            outline: none;
            border: none;
            color: white;
            font-size: 25px;
            padding: 34px;
            border-radius: 50px;
            margin-bottom: 55px;
        }
    }
}